.HeroScreen-container {
  width: 410px;
  height: 500px;
  background-image: url(./monitor_left.png);
  background-position: top;
  background-repeat: no-repeat;
}

canvas {
  margin-top: 35px;
}

button.download {
  margin-top: 150px;
  width: 100px;
  height: 66px;
  background-image: url(./btn_download_off.png);
  background-color: #282c34;
}

button.download:hover {
  background-image: url(./btn_download_on.png);
}
