.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 600px;
  padding-top: 10vh;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}
